.card {
    padding: 0.6rem;
}

.card button {
    margin-left: auto;
}

.card:hover {
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
