.container {
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid gray;
}

.container h3 {
    text-overflow: ellipsis;
    margin-left: 0.2rem;
}

.container header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.container header button {
    background: none;
}
