
.container {
    position: relative;
}

.dialog {
    padding: 2rem;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    min-width: 400px;
}

.dialog h1 {
    margin-bottom: 1rem;
}

.dialog ul {
    display: flex;
}

.dialog li {
    width: 100%;
}