@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		font-family: 'JetBrains Mono', monospace;
		@apply min-h-screen select-none bg-neutral-200 text-neutral-900;
	}

	#root {
		@apply min-h-screen;
	}

	button {
		@apply border-2 bg-green-600 px-5 text-neutral-100 hover:bg-green-500;
	}

	img {
		@apply max-w-xs p-1;
	}

	label:has(+ input[checked]) {
		@apply bg-green-600 text-neutral-100;
	}
}

@layer utilities {
	.border-1 {
		border-width: 1px;
	}
}

/* debug visualizer */
/*
@layer components {
	* {
		@apply border-1 border-dashed border-fuchsia-600 border-opacity-20;
	}
}
*/
