@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#root,
	html,
	body {
		height: 100vh;
		width: 100vw;
	}

	body {
		font-family: 'JetBrains Mono', monospace;
		@apply relative select-none bg-neutral-300;
	}

	button {
		@apply bg-stone-800 px-4 text-white opacity-90 hover:bg-purple-700 active:bg-orange-700;
	}

	input[type='radio'] {
		display: none;
	}

	h2 {
		@apply mb-2 text-lg font-bold;
	}
	/* only for debugging */
	/*
	div {
		border: 1px dotted hotpink;
	}
*/
}

@layer components {
	.editable {
		display: inline;
		background: none;
		outline: none;
		cursor: text;
		width: fit-content;
	}
	.editable:focus {
		text-decoration: underline;
	}
}

@layer base {
	::-webkit-scrollbar {
		width: 0.8rem;
	}
	::-webkit-scrollbar-thumb {
		@apply bg-stone-800;
	}
}
