@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	#root,
	html,
	body {
		height: 100vh;
		width: 100vw;
	}

	body {
		font-family: 'JetBrains Mono', monospace;
		@apply bg-stone-500 relative select-none;
		position: absolute;
	}

	button {
		@apply bg-stone-800 text-white px-4 opacity-90 hover:bg-purple-800;
	}

	input[type='radio'] {
		display: none;
	}

	h2 {
		@apply text-lg font-bold mb-2;
	}
	/* only for debugging */
	/*
	div {
		border: 1px dotted hotpink;
	}
*/
}

@layer components {
	.editable {
		background: none;
		outline: none;
		max-width: 100%;
		cursor: pointer;
	}
	.editable:focus {
		text-decoration: underline;
	}

	.editable:hover {
		text-decoration: underline;
	}
}
