.container {
    display: grid;
    grid-template-columns: 22rem auto;
    grid-template-areas: "h h" "s v" "s a";
    gap: 0.3rem;
}

header {
    grid-area: h;
}

aside {
    grid-area: s;
}

main {
    grid-area: v;
}
