body {
	box-sizing: border-box;
	background-color: darkgray;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#out {
	width: 60%;
	height: 500px;
}

legend {
	color: white;
	background: black;
}

ul {
	list-style: none;
	padding: 4px;
}

aside {
	min-width: 400px;
}

input {
	margin: 2px;
}

details {
	border: 2px dotted black;
}

li {
	list-style-type: none;
}

.card {
	margin: 2px;
	padding: 2px;
	background-color: rgba(1, 1, 1, 0.2);
}

p {
	padding: 1px;
	margin: 1px;
}

button {
	background-color: whitesmoke;
	border: 1px solid black;
	border-radius: 0px;
	margin: 2px;
}

button:hover {
	background-color: orangered;
}

h3 {
	margin-block: 4px 4px;
}

img {
	max-width: 100px;
}

.horizontal {
	display: flex;
	flex-direction: row;
	justify-items: end;
}

.imageCard {
	position: relative;
}

.imageCard button {
	position: absolute;
	top: 2px;
	left: 2px;
}

.scrollContainer {
	height: 200px;
	overflow-y: scroll;
}

.horizontal {
	display: flex;
	flex-flow: row nowrap;
}

.sidebar {
	width: 30%;
}
