@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

*,
*::after,
*::after {
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 1.5rem;
    height: 100vh;
}

button {
    border: 0;
    padding: 0.2rem 0.5rem;
    background-color: whitesmoke;
}

button:hover {
    background-color: orangered;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 1;
}

#preview {
    min-width: 600px;
    min-height: 500px;
}
